# Dependency directories
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
build/
**/build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/server/.env

# IDE and System files
.vscode/
.idea/
*.suo
Thumbs.db
.DS_Store
